*{
    padding:0;
    margin:0;
}

body{
    background-color:#14213d;
}

.main-container{
    display:grid;
    justify-content:center;
    align-content:center;
}

.form-container{
    border:1px solid black;
    background-color:#dee2e6;
    width:600px;
    border-radius:8px;
    height:500px;
}

form{
    display:grid;
    justify-content:center;
    align-content:space-around;
    height:200px;
}

form > input,select{
    width:500px;
    height:30px;
}